#Titre
{
	position: absolute;
	font-size: 30px;
	left: 160px;
	top: 0px;	
}

canvas
{
	position: absolute;
	left: 60px;
	top: 120px;
	/*background-color: grey; */
}	
	
.drop
{
	width: 100px;
	margin-top: 60px;	
	top: 60px;
	height: 60px;
	overflow: hidden;
	background-color: rgb(255,0,0);
	color: rgb(255,255,0);
	text-align: center;
}

#AquiLeTourdeJouer
{
	/*text-decoration: blink;*/
	color: rgb(225,255,0);
	background-color: rgb(150,150,150);
	position: absolute;
	font-size: 20px;
	left: 90px;
	top: 530px;
}	
